source/website/public/runtimeConfig.json
*/.DS_Store
.venv
.idea/*
node_modules
package
deployment/*-s3-assets
deployment/*-s3-assets-tmp
deployment/*-assets
deployment/*-assets-tmp
deployment/cfn-templates
deployment/regional-assets
deployment/open-source
dist
webapp-manifest.json
cdk.out
*.pyc
snapchat_credentials.json
source/.coverage
source/.coverage.*
source/tests/coverage-reports
*.DS_Store
*.egg-info/
source/cdk_solution_helper_py/helpers_common/build/
package-lock.json
.vscode/
